*{
	font-family: Roboto;
}

:root{
	--purple: #8559ff;
	--back-white: #ebebeb;
}

body{
	margin: 0px;
	padding: 0px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: lightgray;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(160, 160, 160);
}