body{
    display: none;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--back-white);
}

.main-container{
    width: 100%;
    height: 100%;
    background-color: var(--back-white);
    display: flex;
    flex-direction: row;
}

.left-section{
    width: calc(35% - 20px);
    height: calc(100% - 20px);
    background-color: var(--back-white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.right-section{
    width: calc(100% - 35% - 10px);
    height: calc(100% - 20px);
    background-color: var(--back-white);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video-section{
    width: calc(100%);
    background-color: var(--back-white);
    height: 570px;
}

.video-section > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid gray;
}

.graphs-section{
    width:calc(100% - 10px);
    height: 330px;
    display: flex;
    flex-direction: row;
    gap: 10px
}

.day-graph {
    height: 330px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.day-graph > canvas {
    width: 100%;
    height: 330px;
    display: block;
}

.h-graph {
    height: 330px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h-graph > canvas {
    width: 100%;
    height: 330px;
    display: block;
}

.info-section{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.alerts-section{
    width: 100%;
    height: calc(100% - 300px);
    background-color: white;
    border-radius: 10px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.info-text{
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.alerts-title-row{
    display: flex;
    flex-direction: row;
}

.alerts-title-row > div{
    width: 20%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.alert-div{
    display: flex;
    flex-direction: row;
}

.alert-div > div{
    width: 20%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    align-content: center;
}

.inserted-alerts{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.alerts-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    min-width: 625px;
    width: 100%;
}

.alerts-text-info{
    background-color: white;
}

.probability{
    width: 60px;
    height: 26px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.green-class{
    border: 1px solid #155724;
    border-radius: 3px;
    color: #155724;
    background-color: #d4edda;
}

.yellow-class{
    border: 1px solid #d18c0a;
    border-radius: 3px;
    color: #d18c0a;
    background-color: #fff3cd;
}

.red-class{
    border: 1px solid #a42d24;
    border-radius: 3px;
    color: #a42d24;
    background-color: #f8d7da;
}   

.link-obj > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #135659;
    font-weight: 500;
}

.the-line{
    width: 100%;
    height: 1px;
    background-color: gray;
    position: relative;
    top: 10px;
    z-index: 0;
}

.date-formated{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.actual-date{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 3;
}

.hour-of-alert{
    color: #0645ab;
}

.token-field{
    padding: 7px;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    width: calc(100% - 14px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.token-field > div:first-child{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px; 
    margin-top: 4px;
}

.pure-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 3px;
    cursor: pointer;
}

.pure-field > div:nth-child(1){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.pure-field > div:nth-child(2){
    font-size: 20px;
    font-weight: 700;
}

.options{
    padding-left: 1%;
    width: 98%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 6px;
}

.line-tok{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 1px;
    background-color: rgb(139, 139, 139);
    position: absolute;
    margin-left: 5%;
    top: 35px;
}

.first-charts{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 40px;
}

#alertChartPie{
    float: right;
}

.option-btn{
    height: 40px;
    width: 33.3%;
    color: white;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn > div{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.deactivate{
    background-color: #135659;
}

.deactivate:hover{
    background-color: #0d484b;
}

.delete-all{
    background-color: #f22222;
}

.delete-all:hover{
    background-color: #db0b0b;
}

.logout{
    background-color: #e4b92c;
}

.logout:hover{
    background-color: #d1a71d;
}

@media all and (max-width: 1800px){
    .option-btn > div{
        font-weight: 500;
        font-size: 15px;
    }
}

@media all and (max-width: 1250px){

    .main-container{
        flex-direction: column;
        align-items: center;
    }

    .left-section{
        width: 100%;
        padding: 0px;
    }

    .right-section{
        width: 100%;
    }

}

@media all and (max-width: 730px){
    .graphs-section{
        width:100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .right-section{
        padding-right: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .day-graph {
        height: 330px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    }
    
    .day-graph > canvas {
        width: 100%;
        height: 330px;
        display: block;
    }
    
    .h-graph {
        height: 330px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .h-graph > canvas {
        width: 100%;
        height: 330px;
        display: block;
    }
    
}

@media all and (max-width: 1000px){
    .video-section{
        width: calc(100%);
        background-color: var(--back-white);
        height: 500px;
    }
    
    .video-section > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid gray;
    }
}

@media all and (max-width: 850px){
    .video-section{
        width: calc(100%);
        background-color: var(--back-white);
        height: 430px;
    }
    
    .video-section > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid gray;
    }
}

@media all and (max-width: 700px){
    .video-section{
        width: calc(100%);
        background-color: var(--back-white);
        height: 380px;
    }
    
    .video-section > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid gray;
    }
}

@media all and (max-width: 600px){
    .video-section{
        width: calc(100%);
        background-color: var(--back-white);
        height: 330px;
    }
    
    .video-section > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid gray;
    }
}

@media all and (max-width: 530px){
    .video-section{
        width: calc(100%);
        background-color: var(--back-white);
        height: 270px;
    }
    
    .video-section > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid gray;
    }
}

@media all and (max-width: 420px){
    .video-section{
        width: calc(100%);
        background-color: var(--back-white);
        height: 230px;
    }
    
    .video-section > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid gray;
    }

    .token-field > div:first-child{
        font-weight: 700;
        font-size: 11px; 
    }
    
    .pure-field > div:nth-child(1){
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 11px;
    }
    
    .pure-field > div:nth-child(2){
        font-size: 12px;
    }

}